<section
    class="tab {{tab.cssClass}}"
    data-group="primary"
    data-tab="asset">
    <div class="grid grid-3col">
        <div class="grid-span-2 grid grid-2col">
            <div class="resource">
                {{formGroup systemFields.type value=system.type localize=true}}
            </div>
            <div class="resource">
                {{formGroup systemFields.tl value=system.tl localize=true}}
            </div>
            <div class="flexcol flex-between">
                <span>{{localize 'swnr.sheet.faction.qualities'}}</span>
                <div class="flexrow">
                    <!--                TODO: Create helper for inline checkboxes-->
                    <div class="resource">
                        <label class="resource-label">{{localize 'swnr.sheet.faction.assetQualities.permission'}}</label>
                        <input type="checkbox" class="small-checkbox" name="system.qualities.permission" {{#if system.qualities.permission}}checked{{/if}}>
                    </div>
                    <div class="resource ">
                        <label class="resource-label">{{localize 'swnr.sheet.faction.assetQualities.action'}}</label>
                        <input type="checkbox"  class="small-checkbox" name="system.qualities.action" {{#if system.qualities.action}}checked{{/if}}>
                    </div>
                    <div class="resource ">
                        <label class="resource-label">{{localize 'swnr.sheet.faction.assetQualities.special'}}</label>
                        <input type="checkbox" class="small-checkbox" name="system.qualities.special" {{#if system.qualities.special}}checked{{/if}}>
                    </div>
                </div>
            </div>
            <div class="flexrow">
                <div class="resource flexrow">
                    {{formGroup systemFields.stealthed value=system.stealthed localize=true}}
                </div>
                <div class="resource flexrow">
                    {{formGroup systemFields.unusable value=system.unusable localize=true}}
                </div>
            </div>
        </div>
        <div class="flexcol flex-evenly">
            <div class="resource">
                {{formGroup systemFields.cost value=system.cost localize=true}}
            </div>
            <div class="resource">
                {{formGroup systemFields.income value=system.income localize=true}}
            </div>
            <div class="resource">
                {{formGroup systemFields.maintenance value=system.maintenance localize=true}}
            </div>
        </div>
        <div class="grid-span-3 ">
            <div class="resource">
                <label class="resource-label">{{localize 'swnr.sheet.faction.turnRoll'}}</label>
                <textarea name="system.turnRoll">{{system.turnRoll}}</textarea>
            </div>
            <div class="resource">
                <label class="resource-label">{{localize 'swnr.sheet.faction.locationRoll'}}</label>
                <textarea name="system.locationRoll">{{system.locationRoll}}</textarea>
            </div>
        </div>
    </div>
</section>