<section
    class="tab {{tab.cssClass}}"
    data-group="primary"
    data-tab="assetAtkDef">
    <div class="grid grid-2col">
        <div class="resource">
            {{formGroup systemFields.attackSource value=system.attackSource localize=true}}
        </div>
        <div class="resource">
            {{formGroup systemFields.attackTarget value=system.attackTarget localize=true}}
        </div>
        <div class="resource">
            {{formGroup systemFields.attackDamage value=system.attackDamage localize=true}}
        </div>
        <div class="resource">
            {{formGroup systemFields.counter value=system.counter localize=true}}
        </div>
        <div class="resource grid-span-2">
            <label class="resource-label">{{localize 'swnr.sheet.faction.attackSpecial'}}</label>
            <textarea name="system.attackSpecial">{{system.attackSpecial}}</textarea>
        </div>
    </div>
</section>