<section 
  class='tab {{tab.cssClass}}' 
  data-group='primary' 
  data-tab='attributes'
>
  <div class="resource">
    {{formGroup systemFields.effect value=system.effect localize=true}}
  </div>
  <div class='grid grid-4col'>
    <div class="resource">
      {{formGroup systemFields.tl value=system.tl localize=true}}
    </div>
    <div class="resource">
      {{formGroup systemFields.cost value=system.cost localize=true}}
    </div>
    <div class="resource">
      {{formGroup systemFields.strain value=system.strain localize=true}}
    </div>
    <div class="resource">
      {{formGroup systemFields.disabled value=system.disabled localize=true}}
    </div>

    <div class="resource">
      {{formGroup systemFields.type value=system.type localize=true}}
    </div>
    <div class="resource">
      {{formGroup systemFields.concealment value=system.concealment localize=true}}
    </div>
    <div class="resource">
      {{formGroup systemFields.complication value=system.complication localize=true}}
    </div>
    <div class="resource">
      {{formGroup systemFields.settings value=system.settings localize=true}}
    </div>
  </div>
</section>