{{! Attributes Tab }}
<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  
   {{! Ammo Section }}
  <div class='consumable-section resource-group grid grid-3col' style="border: 1px solid var(--border-color); border-radius: 2px; padding: 4px;">
    <div class="grid-span-2">
      {{formGroup systemFields.uses.fields.consumable value=system.uses.consumable localize=true}}
    </div>  
    {{#if (ne system.uses.consumable "none")}}
      <div class="grid-span-2">
        {{formGroup systemFields.uses.fields.ammo value=system.uses.ammo localize=true}}
      </div>
      <div class='resource flexrow'>
        <label class='resource-label'>{{localize 'SWN.Item.Gear.FIELDS.uses.label'}}</label>
        {{formInput systemFields.uses.fields.value value=system.uses.value localize=true}} /
        {{formInput systemFields.uses.fields.max value=system.uses.max localize=true}}
      </div>
      <div class="grid-span-2">
        {{formGroup systemFields.uses.fields.emptyQuantity value=system.uses.emptyQuantity localize=true}}
      </div>
      {{formGroup systemFields.uses.fields.keepEmpty value=system.uses.keepEmpty localize=true widget=checkWidget}}
    {{/if}}
  </div>

  {{! Roll Formula Section }}
  <div class='resource'>
    <label class='resource-label'>{{localize 'SWN.Item.Gear.FIELDS.rollFormula.label'}}:</label>
    <span>{{system.formula}}</span>
    <div class='grid grid-4col'>
      <div class='grid-span-1'>
        <label class='resource-label'>{{localize 'SWN.Item.Gear.FIELDS.numDice.label'}}</label>
        <input
          type='text'
          name='system.roll.diceNum'
          value='{{system.roll.diceNum}}'
          data-dtype='Number'
        />
      </div>
      <div class='grid-span-1'>
        <label class='resource-label'>{{localize 'SWN.Item.Gear.FIELDS.dieSize.label'}}</label>
        <input
          type='text'
          name='system.roll.diceSize'
          value='{{system.roll.diceSize}}'
          data-dtype='String'
        />
      </div>
      <div class='grid-span-2'>
        <label class='resource-label'>{{localize 'SWN.Item.Gear.FIELDS.rollMod.label'}}</label>
        <input
          type='text'
          name='system.roll.diceBonus'
          value='{{system.roll.diceBonus}}'
          data-dtype='String'
        />
      </div>
    </div>

  </div>

  {{! Container Settings Section }}
  <div class='resource-group grid grid-4col' style="border: 1px solid var(--border-color); border-radius: 2px; padding: 4px; margin-top: 8px;">
    <div class="grid-span-4">
      <label class='resource-label'>{{localize 'swnr.item.container.settings'}}</label>
    </div>
    <div class="grid-span-4">
      {{formGroup systemFields.container.fields.isContainer value=system.container.isContainer localize=true widget=checkWidget}}
    </div>
    {{#if system.container.isContainer}}
      <div class="resource">
        {{formGroup systemFields.container.fields.capacity.fields.max value=system.container.capacity.max localize=true}}
      </div>
      <div class="resource">
        {{formGroup systemFields.container.fields.capacity.fields.value value=system.container.capacity.value localize=true}}
      </div>
      <div class="grid-span-2">
        {{formGroup systemFields.container.fields.isOpen value=system.container.isOpen localize=true widget=checkWidget}}
      </div>
    {{/if}}
  </div>

</section>