<section
  class='tab {{tab.cssClass}}'
  data-group='primary'
  data-tab='program'
>
<div class='grid grid-2col'> <!-- program -->
    <div class="resource">
      {{formGroup systemFields.type value=system.type localize=true}}
    </div>
    <div class="resource">
      {{formGroup systemFields.cost value=system.cost localize=true}}
    </div>
    {{#if (or (eq item.system.type "subject") (eq item.system.type "verb"))}}
      <div class="resource grid-span-2">
        <label class='resource-label flexlarge align-left'>
          {{#if (eq item.system.type "subject")}}
            {{localize 'swnr.sheet.program.target'}}:
          {{else}}
            {{localize 'swnr.sheet.program.targetAllowed'}}:
          {{/if}}
        </label>
        <input
          name="system.target"
          value="{{system.target}}"
          type='text'
          data-dtype='Text'
        />
      </div>
    {{/if}}
    {{#if (eq item.system.type "verb")}}
      <div class="resource">
        {{formGroup systemFields.accessCost value=system.accessCost localize=true}}
      </div>
      <div class="resource">
        {{formGroup systemFields.skillCheckMod value=system.skillCheckMod localize=true}}
      </div>
      <div class="resource grid-span-2">
        {{formGroup systemFields.useAffects value=system.useAffects localize=true}}
      </div>
    {{/if}}
    {{#if (eq item.system.type "running")}}
      <div class="resource align-left">
        {{formGroup systemFields.selfTerminating value=system.selfTerminating localize=true class="align-left"}}
      </div>
    {{/if}}
</div><!-- end grid-col program  -->

</section>