<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  <div class='flexcol'>
    <div class='flexrow' style='gap: 15px; padding-bottom: 5px'>
      <div class="resource">
        {{formGroup systemFields.damage value=system.damage localize=true}}
      </div>
      <div class="resource">
        {{formGroup systemFields.hardpoint value=system.hardpoint localize=true}}
      </div>
      <div class="resource">
        {{formGroup systemFields.tl value=system.tl localize=true}}
      </div>
      <div class="resource">
        {{formGroup systemFields.range.fields.normal value=system.range.normal localize=true}}
      </div>
      <div class="resource">
        {{formGroup systemFields.range.fields.max value=system.range.max localize=true}}
      </div>
    </div>

    <div class='flexrow' style='gap: 10px;'>
      <div class="resource" style='flex: 3;'>
        {{formGroup systemFields.qualities value=system.qualities localize=true}}
      </div>
      <div class="resource">
        {{formGroup systemFields.ab value=system.ab localize=true}}
      </div>
    </div>
    <div class='grid grid-2col'>
      <div class="resource-group" style='border: 1px solid var(--border-color); border-radius: 2px; padding: 4px;'><!-- AMMO-->
        <div class="resource">
          {{formGroup systemFields.ammo.fields.type value=system.ammo.type localize=true}}
        </div>
        {{#if (and (ne system.ammo.type "none") (ne system.ammo.type "infinite"))}}
        <div class="resource">
          {{formGroup systemFields.ammo.fields.value value=system.ammo.value localize=true}}
        </div>
        <div class="resource">
          {{formGroup systemFields.ammo.fields.max value=system.ammo.max localize=true}}
        </div>
        {{/if}}
      </div><!-- AMMO end resource-group -->
      <div class="resource-group" style='display: grid; border: 1px solid var(--border-color); border-radius: 2px; padding: 4px;'>
        <div class="resource">
          {{formGroup systemFields.trauma.fields.die value=system.trauma.die localize=true}}
        </div>
        <div class="resource">
          {{formGroup systemFields.trauma.fields.rating value=system.trauma.rating localize=true}}
        </div>
        <div class="resource">
          {{formGroup systemFields.trauma.fields.vehicle value=system.trauma.vehicle localize=true}}
        </div>
      </div><!-- end resource-group -->
    </div>
  </div>
</section>