<section class='tab drone sheet-body {{tab.cssClass}}' data-group='primary' data-tab='drone'>
  <div class='sheet-cols'>

    <div class='grid grid-4col'> <!-- SWNRDroneData extends SWNRVehicleTemplateBase -->
      <div class="resource">
        {{formGroup systemFields.fittings value=system.fittings localize=true widget=groupWidget}}
      </div>
      <div class="resource">
        {{formGroup systemFields.enc value=system.enc localize=true}}
      </div>
      <div class="resource">
        {{formGroup systemFields.range value=system.range localize=true}}
      </div>
      <div class="resource">
        {{formGroup systemFields.model value=system.model localize=true}}
      </div>
      <div class="resource">
        {{formGroup systemFields.moveType value=system.moveType localize=true}}
      </div>

      <div class="resource">
        {{formGroup systemFields.tl value=system.tl localize=true}}
      </div>
    </div><!-- end grid-col SWNRDroneData extends SWNRVehicleTemplateBase  -->
  </div>
</section>