<section class='tab notes sheet-body {{tab.cssClass}}' data-group='primary' data-tab='notes'>
  <div class="grid grid-cols-2">
    <div>
      {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
      <h3>{{localize 'SWN.Item.Tabs.Description'}}</h3>
      {{#if editable}}
      <prose-mirror name="system.description" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.description}}"
        collaborate="true" toggled="true">
        {{{enrichedDescription}}}
      </prose-mirror>
      {{else}} {{{enrichedDescription}}}
      {{/if}}
    </div>
    <div>
      <h3>{{localize 'swnr.sheet.mod'}}</h3>
      {{#if editable}}
      <prose-mirror name="system.mods" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.mods}}"
        collaborate="true" toggled="true">
        {{{enrichedMods}}}
      </prose-mirror>
      {{else}} {{{enrichedMods}}}
      {{/if}}
    </div>
  </div>
</section>