<section class='tab ship shipCrew sheet-body {{tab.cssClass}}' data-group='primary' data-tab='shipCrew'>
  <div class="grid grid-cols-2">
    <div class="gap-2"><!-- left col-->
      <div class="stations">
        <div>
          <ol class="items-list">
            <li class='flex flexrow items-header'>
              <div class="role-name">{{localize 'swnr.sheet.ship.station.role'}}</div>
              <div class="role-crew">{{localize 'swnr.sheet.ship.station.crew'}}</div>
            </li>
            <li class="item-entry">
              <div class="item flexrow" data-item-id="role-bridge">
                <div>
                  {{localize 'swnr.sheet.ship.station.bridge'}}
                </div>
                <div>
                  <select name="system.roles.bridge" class="">
                    {{selectOptions crewArray selected=actor.system.roles.bridge labelAttr="name" valueAttr="id" blank=""}}
                  </select>
                </div>
              </div>
            </li>
            <li class="item-entry">
              <div class="item flexrow" data-item-id="role-captain">
                <div>
                  {{localize 'swnr.sheet.ship.station.captain'}}
                </div>
                <div>
                  <select name="system.roles.captain" class="">
                    {{selectOptions crewArray selected=actor.system.roles.captain labelAttr="name" valueAttr="id" blank=""}}
                  </select>
                </div>
              </div>
            </li>
            <li class="item-entry">
              <div class="item flexrow" data-item-id="role-comms">
                <div>
                  {{localize 'swnr.sheet.ship.station.comms'}}
                </div>
                <div>
                  <select name="system.roles.comms" class="">
                    {{selectOptions crewArray selected=actor.system.roles.comms labelAttr="name" valueAttr="id" blank=""}}
                  </select>
                </div>
              </div>
            </li>
            <li class="item-entry">
              <div class="item flexrow" data-item-id="role-engineering">
                <div>
                  {{localize 'swnr.sheet.ship.station.engineering'}}
                </div>
                <div>
                  <select name="system.roles.engineering" class="">
                    {{selectOptions crewArray selected=actor.system.roles.engineering labelAttr="name" valueAttr="id" blank=""}}
                  </select>
                </div>
              </div>
            </li>
            <li class="item-entry">
              <div class="item flexrow" data-item-id="role-gunnery">
                <div>
                  {{localize 'swnr.sheet.ship.station.gunnery'}}
                </div>
                <div>
                  <select name="system.roles.gunner" class="">
                    {{selectOptions crewArray selected=actor.system.roles.gunner labelAttr="name" valueAttr="id" blank=""}}
                  </select>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div><!-- end stations-->
    </div>
    <div> <!-- right col: crew list -->
      {{>
      "systems/swnr/templates/actor/fragments/crew-list.hbs"
      type=actor.type crewArray=crewArray
      }}
      <div style="margin-top:10px; margin-left:4px;">
        {{localize 'swnr.sheet.ship.crew-skill-bonus'}}:
        {{formInput systemFields.crewSkillBonus value=system.crewSkillBonus}}
          <a class="item-control" title='{{localize 'swnr.sheet.roll-skill'}}'
            data-action="npcCrewRoll">
            <i class="fas fa-dice"></i></a>
          <span class="">
          {{localize 'swnr.sheet.ship.crew-skill-bonus-note'}}                      
          </span>
      </div>
    </div>


  </div>
</section>