<ol class='items-list'>
  <li class='flex flexrow items-header'>
    <div class='item-name'>
      {{#if (eq actorType 'character')}}
      {{localize 'swnr.item.locationReadied'}}
      {{/if}}
      {{localize 'swnr.sheet.tabs.weapons-short'}}
    </div>
    <div class="item-dmg">
      {{localize 'swnr.weapon.damage'}}
    </div>
    <div class='item-controls-small'>
      {{#if @root.editable}}
        <a
          class='item-control item-create'
          title='Create Weapon'
          data-action='createDoc'
          data-document-class='Item'
          data-type='weapon'
          data-system.location='readied'
        >
          <i class='fas fa-plus'></i>
        </a>
      {{/if}}
    </div>
  </li>
  {{#each itemList as |item id|}}
  <li class='item flex flexrow' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
    <div class='item-name'>
      <div class='item-image'>
        <a class='rollable' data-roll-type='item' data-action='roll'>
          <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
        </a>
      </div>
      <div>{{item.name}}</div>
    </div>
    <div class="item-dmg item-prop">{{item.system.damage}}</div>
    <div class='item-controls-small'>
      {{#if (ne item.system.ammo.type "none")}}
      <a class="item-control item-reload" data-action="reload" title="{{localize 'swnr.sheet.reload-item'}}">
        <i class="fas fa-retweet"></i>
      </a>
      {{/if}}
      <a class='item-control item-edit' title='{{localize "DOCUMENT.Update" type=' Item'}}' data-action='viewDoc'>
        <i class='fas fa-edit'></i>
      </a>
    </div>
  </li>
  {{/each}}
</ol>