<ol class='items-list'>
  <li class='flex flexrow items-header'>
    <div class='item-name'>
      {{#if (eq actorType 'character')}}
      {{localize 'swnr.item.locationReadied'}} 
      {{/if}}
      {{localize 'swnr.sheet.tabs.weapons'}}
    </div>
    <div class="item-dmg">
      {{localize 'swnr.weapon.damage'}}
    </div>
    <div class='item-controls-small'>
    </div>
  </li>
  {{#each itemList as |item id|}}
  <li class='item flex flexrow' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
    <div class='item-name'>
      <div class='item-image'>
        <a class='rollable' data-roll-type='item' data-action='roll'>
          <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
        </a>
      </div>
      <div>{{item.name}}</div>
    </div>
    <div class="item-dmg item-prop">{{item.system.damage}}</div>
    <div class='item-controls-small'>
      <a class='item-control item-edit' title='{{localize "DOCUMENT.Update" type=' Item'}}' data-action='viewDoc'>
        <i class='fas fa-edit'></i>
      </a>
    </div>
  </li>
  {{/each}}
</ol>