<ol class='items-list'>
  <li class='flex flexrow items-header'>
    <div class='item-name item-name-long'>
      {{localize 'swnr.sheet.tabs.weapons-short'}}
    </div>
    <div class="flex-group-center item-prop">
      {{localize "swnr.weapon.dmg"}}/{{localize "swnr.item.ammo.ammo"}}
    </div>
    <div class='item-controls-small'>
      {{#if @root.editable}}
        <a
          class='item-control item-create'
          title='Create Weapon'
          data-action='createDoc'
          data-document-class='Item'
          data-type='weapon'
          data-system.location='readied'
        >
          <i class='fas fa-plus'></i>
        </a>
      {{/if}}
    </div>
    <div class="flex-group-right item-controls-small"></div>
  </li>

  <!-- ITEM ROWS (Uses Matching Grid Layout) -->
  {{#each itemList as |item id|}}
    <li class="item grid grid-4col" data-item-id="{{item._id}}" data-drag="true" data-document-class="Item">
      <!-- Name Column -->
      <div class="grid-span-2 flex-group-left item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item" data-action="roll">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
          </a>
        </div>
        <div>{{item.name}}</div>
      </div>

      <!-- Damage Column -->
      <div class="flex-group-center item-prop">
        {{item.system.damage}} 
         {{#if (and item.system.ammo (ne item.system.ammo.type "none"))}}
           / {{item.system.ammo.value}}
         {{/if}}
      </div>

      <!-- Controls -->
      <div class="flex-group-right item-controls-small">
        {{#if (and (eq item.type "weapon") (ne item.system.ammo.type "none"))}}
          <a class="item-control item-reload" data-action="reload" title="{{localize 'swnr.sheet.reload-item'}}">
            <i class="fas fa-retweet"></i>
          </a>
        {{/if}}
        <a class="item-control item-edit" title="{{localize 'DOCUMENT.Update' type='Item'}}" data-action="viewDoc">
          <i class="fas fa-edit"></i>
        </a>
      </div>
    </li>
  {{/each}}
</ol>