<li class='item flex skill skillRoll flexrow' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
  <a class="sheet-button skill-button inline-flex">
    <div class="flex-shrink">
      {{item.name}}
      {{numberFormat item.system.rank decimals=0 sign=true}}
    </div>
  </a>

  <div class="item-controls">
    <a class='item-control item-edit' title='{{localize "DOCUMENT.Update" type=' Item'}}' data-action='viewDoc'>
      <i class='fas fa-edit'></i>
    </a>
    {{#if @root.editable}}
    <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type=' Item'}}' data-action='deleteDoc'>
      <i class='fas fa-trash'></i>
    </a>
    {{/if}}
    <a class="item-control item-level-up" title="{{localize 'swnr.sheet.level-up'}}">
      <i class="fas fa-level-up-alt"></i>
    </a>
  </div>
</li>