<!-- defenses -->
<div>
  <li class="item-titles flexrow">
    <!--<div class="item-caret"><i class="fas fa-caret-down"></i></div>-->
    <div class="item-name flex2">{{localize 'swnr.sheet.ship.defense'}} </div>
    <div class="item-effect">{{localize 'swnr.sheet.ship.effect'}}</div>
    <div class="item-controls text-right">
      <a class="item-control item-search"
        title="{{localize 'swnr.sheet.search-item'}}" 
        data-item-type="shipDefense"  
        data-item-name="Defense"
        data-item-subtype={{subtype}}>
          <i class="fas fa-search"></i>
      </a> 
      <a class="item-control item-create"
        title="{{localize 'swnr.sheet.add-item'}}" data-item-type="shipDefense"  data-item-name="Defense">
        <i class="fas fa-plus"></i>
      </a> 
    </div>
  </li>
  <ol class="item-list">
    {{#each itemTypes.shipDefense as |item id|}}
    <li class="item-entry">
      <div class="item flexrow" data-item-id="{{item.id}}">
        <div class="item-name item-click item-rollable flexrow flex2">
          <div class="item-image" style="background-image: url({{item.img}})"><a></a></div>

          <a>{{item.name}}</a>
        </div>
        <div>
          {{item.system.effect}}
        </div>
        <div class="item-controls text-right">
          <a class="item-control item-toggle-jury  {{#unless item.system.juryRigged}}item-working{{/unless}}"
            title='{{localize 'swnr.sheet.jury-rig'}}'>
            <i class="fas fa-tape {{#unless item.system.juryRigged}}item-working{{/unless}} "></i>
          </a>
          <a class="item-control item-toggle-broken  {{#unless item.system.broken}}item-working{{/unless}}"
            title='{{localize 'swnr.sheet.break-item'}}'>
            <i class="fas fa-heart-broken {{#unless item.system.broken}}item-working{{/unless}} "></i>
          </a>
          <a class="item-control item-toggle-destroy  {{#unless item.system.destroyed}}item-working{{/unless}}"
            title='{{localize 'swnr.sheet.destroy-item'}}'>
            <i class="fas fa-skull-crossbones {{#unless item.system.destroyed}}item-working{{/unless}}"></i>
          </a>
          <a class="item-control item-edit " title='{{localize 'swnr.sheet.edit-item'}}'><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete " title='{{localize 'swnr.sheet.delete-item'}}'><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
  </ol>
</div>
