<header class="sheet-header column">
    <div class="flexrow">
        <div class="profile-img">
            <img
                class="profile-img"
                src="{{actor.img}}"
                data-edit="img"
                data-action="onEditImage"
                title="{{actor.name}}"
            />
            <div class="resource-bar">
                <div style="width: {{system.health.percentage}}%" class="health-fill"></div>
                <div class="text">
                    {{localize 'swnr.sheet.hp'}}
                    <input
                            type='text'
                            name='system.health.value'
                            value='{{system.health.value}}'
                            data-dtype='Number'
                            class='nested-field short-field align-right current-value'
                    />
                    <p>/</p>
                    {{system.health.max}}
                </div>
            </div>
        </div>
        <div class="header-fields grid grid-6col">
            <div class="document-name grid-span-6">
                <input 
                    name="name"
                    type="text"
                    value="{{actor.name}}"
                    placeholder="Name"
                />
            </div>
            
            <div class="resource grid-span-3">
                {{formGroup systemFields.homeworld value=system.homeworld localize=true}}
            </div>
            <div class="resource">
                {{formGroup systemFields.xp value=system.xp localize=true}}
            </div>
            <div class="resource">
                {{formGroup systemFields.facCreds value=system.facCreds localize=true}}
            </div>
            <div class="resource flexrow">
                {{formGroup systemFields.active value=system.active localize=true}}
            </div>
            
            <div class="resource grid-span-2">
                {{formGroup systemFields.forceRating value=system.forceRating localize=true}}
            </div>
            <div class="resource grid-span-2">
                {{formGroup systemFields.cunningRating value=system.cunningRating localize=true}}
            </div>
            <div class="resource grid-span-2">
                {{formGroup systemFields.wealthRating value=system.wealthRating localize=true}}
            </div>
        </div>
    </div>
    <div class="grid grid-5col" style="width: 100%">
        <div class="resource grid-span-2">
            {{formGroup systemFields.factionGoal value =system.factionGoal localize=true}}
        </div>
        <div class="resource grid-span-3">
            <label class="resource-label">{{localize 'swnr.sheet.faction.factionGoalDesc'}}</label>
            <textarea name="system.factionGoalDesc">{{system.factionGoalDesc}}</textarea>
        </div>
    </div>
</header>