{{! Biography Tab }}
<section
  class='tab biography sheet-body {{tab.cssClass}}'
  data-group='primary'
  data-tab='biography'
>
  <div class="flex flex-col">
    <div class="flex flexrow" style="margin:2px;gap:2px;">
      {{#if (eq actor.type 'character')}}
        {{formGroup systemFields.class value=system.class localize=true}}
        {{formGroup systemFields.species value=system.species localize=true}}
        {{formGroup systemFields.homeworld value=system.homeworld localize=true}}
        {{formGroup systemFields.background value=system.background localize=true}}
        {{formGroup systemFields.employer value=system.employer localize=true}}
      {{/if}}
    </div>
    
    <div>
      <h3>{{localize 'SWN.Actor.Tabs.Biography'}}</h3>
    </div>

    {{#if editable}} 
      <div class="editor">
        <prose-mirror
          name="system.biography"
          data-document-u-u-i-d="{{actor.uuid}}"
          value="{{system.biography}}"
          collaborate="true"
          toggled="true"
        >
          {{{enrichedBiography}}}
        </prose-mirror>
      </div>
    {{else}} 
      <div class="editor">
        <div class="editor-content">
          {{{enrichedBiography}}}
        </div>
      </div>
    {{/if}}

  </div>
</section>
