<section class='tab combat flexcol {{tab.cssClass}}' data-group='primary' data-tab='combat'>
  <div class='flex flexrow' style="align-items:flex-start;">
    <aside class='sidebar' style="flex: 0 1 160px;" >
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. }}
      <div class='stats flexcol'>
        {{#each system.stats as |stat key|}}
        <div class='stat flexrow flex-group-center'>
          <label class='resource-label rollable flexlarge align-right' data-action='roll'
            data-roll='d20+@stats.{{key}}.mod' data-label='{{localize (lookup @root.config.stats key)}}'>
            {{localize (lookup @root.config.statAbbreviations key)}}
          </label>
          <span class="small-stat">{{stat.baseTotal}}</span>
          <input type='text' name='system.stats.{{key}}.temp' value='{{stat.temp}}' class="stat-score-small"
            data-dtype='Number' />
          <span class="small-stat">{{stat.total}}</span>
          <span class='stat-mod rollable' data-action='roll' data-roll='d20+@stats.{{key}}.mod'
            data-label='{{localize (lookup @root.config.stats key)}}'>{{numberFormat stat.mod decimals=0
            sign=true}}</span>
        </div>
        {{/each}}
      </div>
    </aside>

    {{! For the skills list, span the middle two columns }}
    <div class='main'>
      {{#if (ne actor.itemTypes.skill.length 0)}}
      
        <div class="grid grid-cols-2 ">
          <div>
            <ol class="items-list">
            {{#each actor.itemTypes.skill as |item id|}}
        {{#if (halfway @root.actor.itemTypes.skill @index)}}          
            </ol>
          </div>
          <div> 
            <ol class="items-list">
                
          {{/if}}
            <li data-item-id="{{item.id}}" data-action="rollSkill" data-drag='true' data-document-class='Item'
              class="skill skillRoll combat-skill  flex-col
              {{#if (mod2 @index) }}
               {{!-- alt-row --}}
              {{/if}}
              ">
              <a class="inline-flex flex-wrap gap-2">
                <i class="fas fa-dice-d20"></i>
                {{item.name}}
                {{numberFormat item.system.rank decimals=0 sign=true}}
              </a>
        
              <div class="item-controls-small lock-toggle" style="display:none;">
                <a class='item-control item-edit' title='{{localize "DOCUMENT.Update" type=' Item'}}' data-action='viewDoc'>
                  <i class='fas fa-edit'></i>
                </a>
                {{#if @root.editable}}
                <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type=' Item'}}' data-action='deleteDoc'>
                  <i class='fas fa-trash'></i>
                </a>
                {{/if}}
                <a class="item-control item-level-up" title="{{localize 'swnr.sheet.level-up'}}">
                  <i class="fas fa-level-up-alt"></i>
                </a>
              </div>
            </li>  
            {{/each}}
          </div>
        </div>
  <div class="flex flexrow gap" style="column-gap:10%;">
    <div class="flex flex-col items-center">
      {{formInput systemFields.unspentSkillPoints value=system.unspentSkillPoints localize=true}}
      <label>{{localize 'swnr.sheet.unspent-skill'}}</label>
    </div>
    <div class="flex flex-col items-center">
      {{formInput systemFields.unspentPsySkillPoints value=system.unspentPsySkillPoints localize=true}}
      <label>{{localize 'swnr.sheet.unspent-psy-skill'}}</label>
    </div>
    <div class="flex flex-col items-center">
      <a class="item-control item-create"
        title="{{localize 'swnr.sheet.add-item'}}" 
        data-action='createDoc'
        data-document-class='Item'
        data-type='skill'
        data-item-name="Skill"
      >
        <i class="fas fa-plus"></i>
        <label>{{localize 'swnr.sheet.add-skill'}}</label>
      </a>

    </div>

  </div>    
      {{else}}
      <button class="skill-load-button" type="button" data-action="loadSkills">
        {{localize 'swnr.sheet.loadSkills'}}
      </button>
      {{/if}}
    </div>


    {{! For the quick items list, span the right two columns }}
    <div class='main' style="flex: 0 1 220px;">
      {{#if actor.system.favorites.length }}
      <ol class='items-list'>
        <li class='item flex flexrow items-header'>
          <div class='item-name'>
            {{localize 'swnr.sheet.favorites'}}
          </div>
          <div class="item-qty"> {{ localize 'swnr.item.qty' }} </div>
          <div class='item-controls-small'>
          </div>
        </li>
      {{#each actor.system.favorites as |item|}}
        <li
          class='item flex flexrow'
          data-item-id='{{item._id}}'
          data-drag='true'
          data-document-class='Item'
        >
          <div class='item-name'>
            <div class='item-image'>
              <a class='rollable' data-roll-type='item' data-action='roll'>
                <img
                  src='{{item.img}}'
                  title='{{item.name}}'
                  width='24'
                  height='24'
                />
              </a>
            </div>
            <div>{{item.name}}</div>
          </div>
          <div class="item-qty"> {{ item.system.quantity }} </div>
          <div class='item-controls-small'>
            <a
              class='item-control item-edit'
              title='{{localize "DOCUMENT.Update" type='Item'}}'
              data-action='viewDoc'
            >
              <i class='fas fa-edit'></i>
            </a>
          </div>
        </li>
      {{/each}}
      </ol>
      {{/if}}

      <ol class='items-list'>
        <li class='item flex flexrow items-header'>
          <div class='item-name'>
             {{localize 'swnr.item.locationReadied'}} {{localize 'swnr.sheet.tabs.weapons'}}
          </div>
          <div class="item-dmg">
            {{localize 'swnr.weapon.damage'}}
          </div>
          <div class='item-controls-small'>
          </div>
        </li>
      {{#each actor.itemTypes.weapon as |item id|}} 
        {{#if (eq item.system.location "readied")}}
          <li
            class='item flex flexrow'
            data-item-id='{{item._id}}'
            data-drag='true'
            data-document-class='Item'
          >
            <div class='item-name'>
              <div class='item-image'>
                <a class='rollable' data-roll-type='item' data-action='roll'>
                  <img
                    src='{{item.img}}'
                    title='{{item.name}}'
                    width='24'
                    height='24'
                  />
                </a>
              </div>
              <div>{{item.name}}</div>
            </div>
            <div class="item-dmg item-prop">{{item.system.damage}}</div>
            <div class='item-controls-small'>
              <a
                class='item-control item-edit'
                title='{{localize "DOCUMENT.Update" type='Item'}}'
                data-action='viewDoc'
              >
                <i class='fas fa-edit'></i>
              </a>
            </div>
          </li>
        {{/if}}
      {{/each}}
      </ol>

    <ol class='items-list'>
      <li class='item flex flexrow items-header'>
        <div class='item-name'>
         {{localize 'swnr.item.locationReadied'}} {{localize 'swnr.sheet.tabs.armor'}}
        </div>
        <div class="item-qty">
          {{localize 'swnr.sheet.ac'}}
        </div>
        <div class="item-controls-small">
        </div>
      </li>
      <li>

        {{#if gameSettings.useTrauma}}
          ({{localize 'swnr.sheet.traumaTarget'}}: {{actor.system.modifiedTraumaTarget}})
        {{/if}}
        {{#if gameSettings.useCWNArmor}}
          ({{localize 'swnr.armor.soak.label'}} Total: {{actor.system.soakTotal.value}}/{{actor.system.soakTotal.max}} )
      {{/if}}
      </li>
      {{#each actor.itemTypes.armor as |item id|}} 
        {{#if (eq item.system.location "readied")}}
          <li data-item-id="{{item.id}}" 
            data-document-class='Item'
            class="item flexrow flex-group-center">
           <input type="checkbox" data-action="toggleArmor" data-item-id="{{item.id}}" {{#if item.system.use}}checked{{/if}}>
            <div class="item-name">
              {{item.name}} 
            </div>
            <div class="item-qty item-prop">
              {{item.system.ac}}
              {{#if gameSettings.useCWNArmor}}
                / {{item.system.meleeAc}}
                {{#if (ne item.system.soak 0)}}
                  ({{item.system.soak.value}}/{{item.system.soak.max}}) 
                {{/if}}
              {{/if}}
            </div>
            <div class='item-controls-small'>
              <a
                class='item-control item-edit'
                title='{{localize "DOCUMENT.Update" type='Item'}}'
                data-action='viewDoc'
              >
                <i class='fas fa-edit'></i>
              </a>
            </div>
          </li>
        {{/if}}
      {{/each}}
      </ol>
    </div>
  </div>
</section>