<section class='tab combat flexcol {{tab.cssClass}}' data-group='primary' data-tab='combat'>
  <section class='grid grid-5col'>
    <aside class='sidebar'>
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. }}
      <div class='stats flexcol'>
        {{#each system.stats as |stat key|}}
        <div class='stat flexrow flex-group-center'>
          <label class='resource-label rollable flexlarge align-right' data-action='roll'
            data-roll='d20+@stats.{{key}}.mod' data-label='{{localize (lookup @root.config.stats key)}}'>
            {{localize (lookup @root.config.statAbbreviations key)}}
          </label>
          <span class="small-stat">{{stat.baseTotal}}</span>
          <input type='text' name='system.stats.{{key}}.temp' value='{{stat.temp}}' class="stat-score-small"
            data-dtype='Number' />
          <span class="small-stat">{{stat.total}}</span>
          <span class='stat-mod rollable' data-action='roll' data-roll='d20+@stats.{{key}}.mod'
            data-label='{{localize (lookup @root.config.stats key)}}'>{{numberFormat stat.mod decimals=0
            sign=true}}</span>
        </div>
        {{/each}}
      </div>
    </aside>

    {{! For the skills list, span the middle two columns }}
    <section class='main grid-span-2'>
      {{#if (ne actor.itemTypes.skill.length 0)}}
      
        <div class="grid grid-cols-2 ">
          <div class="items-list">
            {{#each actor.itemTypes.skill as |item id|}}
            {{#if (halfway @root.actor.itemTypes.skill @index)}}          
              </div>
              <div class="items-list">
            {{/if}}
            <div data-item-id="{{item.id}}" data-action="rollSkill"
              class="skill skillRoll 
              {{#if (mod2 @index) }}
               {{!-- alt-row --}}
              {{/if}}
              ">
            <a class="inline-flex flex-wrap gap-2">
                <i class="fas fa-dice-d20"></i>
                {{item.name}}
                {{numberFormat item.system.rank decimals=0 sign=true}}
              </a>
            </div>
            {{/each}}
          </div>
        </div>

      {{else}}
      <button class="skill-load-button" type="button" data-action="loadSkills">
        {{localize 'swnr.sheet.loadSkills'}}
      </button>
      {{/if}}
    </section>


    {{! For the quick items list, span the right two columns }}
    <section class='grid-span-2'>
      {{#if actor.favs.length }}
      <h4>
        {{localize 'swnr.sheet.favorites'}}
      </h4>
      {{#each actor.favs as |fav|}}
      <div class="item flexrow flex-group-center">
        <a class="inline-flex gap-2" data-action="rollItem" data-item-id="{{fav.id}}">
          <i class="fas fa-dice-d20"></i>
          {{fav.name}}
        </a>
      </div>
      {{/each}}
      {{/if}}
      <h4>
        {{localize 'swnr.item.locationReadied'}} {{localize 'swnr.sheet.tabs.weapons'}}
      </h4>
      {{#each actor.itemTypes.weapon as |item id|}} 
        {{#if (eq item.system.location "readied")}}
          <div class="item flexrow flex-group-center">
            <div class="item-name">{{item.name}}</div>
            <div class="item-damage">{{item.system.damage}}</div>
          </div>
        {{/if}}
      {{/each}}

      <h4>
        {{localize 'swnr.item.locationReadied'}} {{localize 'swnr.sheet.tabs.armor'}}
      </h4>
      {{#if gameSettings.useTrauma}}
        ({{localize 'swnr.sheet.traumaTarget'}}: {{actor.system.modifiedTraumaTarget}})
      {{/if}}
      {{#if gameSettings.useCWNArmor}}
        ({{localize 'swnr.armor.soak.label'}} Total: {{actor.system.soakTotal.value}}/{{actor.system.soakTotal.max}} )
      {{/if}}
      <ol>
      {{#each actor.itemTypes.armor as |item id|}} 
        {{#if (eq item.system.location "readied")}}
          <li data-item-id="{{item.id}}" 
            data-document-class='Item'
            class="item flexrow flex-group-center">
           <input type="checkbox" data-action="toggleArmor" data-item-id="{{item.id}}" {{#if item.system.use}}checked{{/if}}>
            <div class="item-name">
              {{item.name}} 
              {{localize "swnr.sheet.ac"}}: {{item.system.ac}}
              {{#if gameSettings.useCWNArmor}}
                / {{item.system.meleeAc}}
                {{#if (ne item.system.soak 0)}}
                  ({{item.system.soak.value}}/{{item.system.soak.max}}) 
                {{/if}}
              {{/if}}
            </div>
            <a
              class='item-control item-edit'
              title='{{localize "DOCUMENT.Update" type='Item'}}'
              data-action='viewDoc'
            >
              <i class='fas fa-edit'></i>
            </a>
          </li>
        {{/if}}
      {{/each}}
      </ol>
    </section>
  </section>
</section>