<section class='tab combat flexcol {{tab.cssClass}}' data-group='primary' data-tab='combat'>
  <section class='grid grid-4col'>
    <aside class='sidebar'>
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. }}
      <div class='stats flexcol'>
        {{#each system.stats as |stat key|}}
        <div class='stat flexrow flex-group-center'>
          <label class='resource-label rollable flexlarge align-right' data-action='roll'
            data-roll='d20+@stats.{{key}}.mod' data-label='{{localize (lookup @root.config.stats key)}}'>
            {{localize (lookup @root.config.statAbbreviations key)}}
          </label>
          <span class="small-stat">{{stat.baseTotal}}</span>
          <input type='text' name='system.stats.{{key}}.temp' value='{{stat.temp}}' class="stat-score-small"
            data-dtype='Number' />
          <span class="small-stat">{{stat.total}}</span>
          <span class='stat-mod rollable' data-action='roll' data-roll='d20+@stats.{{key}}.mod'
            data-label='{{localize (lookup @root.config.stats key)}}'>{{numberFormat stat.mod decimals=0
            sign=true}}</span>
        </div>
        {{/each}}
      </div>
    </aside>

    {{! For the skills list, span the middle two columns }}
    <section class='main grid-span-2'>
      {{#if (ne actor.itemTypes.skill.length 0)}}
      
        <div class="grid grid-cols-2 ">
          <div class="items-list">
            {{#each actor.itemTypes.skill as |item id|}}
            {{#if (halfway @root.actor.itemTypes.skill @index)}}          
              </div>
              <div class="items-list">
            {{/if}}
            <div data-item-id="{{item.id}}"
              class="skill skillRoll 
              {{#if (mod2 @index) }}
               {{!-- alt-row --}}
              {{/if}}
              ">
            <a class="inline-flex flex-wrap gap-2">
                <i class="fas fa-dice-d20"></i>
                {{item.name}}
                {{numberFormat item.system.rank decimals=0 sign=true}}
              </a>
            </div>
            {{/each}}
          </div>
        </div>

      {{else}}
      <button class="skill-load-button" type="button" data-action="loadSkills">
        {{localize 'swnr.sheet.loadSkills'}}
      </button>
      {{/if}}
    </section>


    {{! For the quick items list, span the right two columns }}
    <section class=''>
      items
    </section>
  </section>
</section>