{{! Features Tab }}
<section
  id='features'
  class='tab features sheet-body {{tab.cssClass}}'
  data-group='primary'
  data-tab='features'
>
  {{! Full width Features (edge/focus) section at top }}
  <section class="full-width-features" style="margin-bottom: 12px;">
    <ol class='items-list'> <!-- Features -->
      <li class='flex flexrow items-header'>
        <div class='item-name'>{{localize 'swnr.featureLabel'}}</div>
        <div class="item-level">
          {{localize 'swnr.sheet.type-label'}}
        </div>
        <div class='item-controls'>
          {{#if @root.editable}}
            <a
              class='item-control item-create'
              title='Create item'
              data-action='createDoc'
              data-document-class='Item'
              data-type='feature'
            >
              <i class='fas fa-plus'></i>
              {{localize 'DOCUMENT.New' type='feature'}}
            </a>
          {{/if}}
        </div>   
      </li>
      {{#each features as |item id|}}
        <li
          class='item flexrow'
          data-item-id='{{item._id}}'
          data-drag='true'
          data-document-class='Item'
        >
          <div class='item-name'>
            <div class='item-image'>
              <a class='rollable' data-roll-type='item' data-action='roll'>
                <img
                  src='{{item.img}}'
                  title='{{item.name}}'
                  width='24'
                  height='24'
                />
              </a>
            </div>
            <div>{{item.name}}</div>
          </div>
          <div class='item-level' style='display: flex; justify-content: center;'>
            {{localize (concat 'swnr.featureTypes.' item.system.type)}}
            {{#if item.system.level}}
              ({{item.system.level}})
            {{/if}}
          </div>
          <div class='item-controls'>
            <a
              class='item-control item-edit'
              title='{{localize "DOCUMENT.Update" type='feature'}}'
              data-action='viewDoc'
            >
              <i class='fas fa-edit'></i>
            </a>
            {{#if @root.editable}}
              <a
                class='item-control item-delete'
                title='{{localize "DOCUMENT.Delete" type='feature'}}'
                data-action='deleteDoc'
              >
                <i class='fas fa-trash'></i>
              </a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ol> <!-- End Features -->
  </section>

  {{! Toggleable section for all character details }}
  <div> <!-- Tweaks (now contains all sections) -->
    <ol class="items-list">
      <li class="items-header flexrow">
        <div class="item-name">
          <a data-action="toggleSection" data-section="tweaks">
            <span id="tweaks-toggle">▼</span>
            {{localize "swnr.sheet.tweaks"}}
          </a>
        </div>
    </ol>
    <div id="tweaks">
      {{! Two-column layout for everything under tweaks }}
      <section class='sheet-cols'>
        <aside class='sidebar' style="flex: 0 1 300px;margin-right:4px;">
          <ol class="items-list">
            <li class="flexrow items-header">
              <div class="stat-label">{{localize 'swnr.sheet.stats'}}
                <a class='item-control' title='{{localize "swnr.chat.statRoll"}}' data-action='rollStats'>
                  <i class='fas fa-dice-d20'></i>
                </a>
              </div>
              <div class="stat-base">{{localize 'swnr.sheet.base'}}</div>
              <div class="stat-boost">{{localize 'swnr.sheet.boosts'}}</div>
              <div class="stat-bonus">{{localize 'swnr.sheet.bonus'}}</div>
              <div class="stat-mod">{{localize 'swnr.sheet.modifier'}}</div>
              <div class="stat-modmod">{{localize 'swnr.sheet.modModifier'}}</div>
            </li>
          </ol>
          <div class='stats flex flexcol'>
            {{#each system.stats as |stat key|}}
              <div class='stat flexrow flex-group-center'>
                <div class="stat-label">
                  <label
                    class='resource-label rollable flexlarge align-right'
                    data-action='roll'
                    data-roll='d20+@stats.{{key}}.mod'
                    data-label='{{localize (lookup @root.config.stats key)}}'
                    style="margin-right: 2px;"
                  >{{localize (lookup @root.config.statAbbreviations key)}}</label>
                </div>
                <div class="stat-base">
                  <input type='text'
                    value='{{stat.base}}'
                    name="system.stats.{{key}}.base"
                    class="stat-score-small"
                    data-dtype='Number'
                  />
                </div>
                <div class="stat-boost">
                  <input type='text'
                    value='{{stat.boost}}'
                    name="system.stats.{{key}}.boost"
                    class="stat-score-small"
                    data-dtype='Number'
                  />
                </div>
                <div class="stat-bonus">
                  <span class="small-stat-math">+ {{stat.temp}} = {{stat.total}}</span>
                </div>
                <div class="stat-mod">
                  <span
                    class='stat-mod rollable'
                    data-action='roll'
                    data-roll='d20+@stats.{{key}}.mod'
                    data-label='{{localize (lookup @root.config.stats key)}}'
                    style='font-weight: bold;'
                  >{{numberFormat stat.mod decimals=0 sign=true}}</span>
                </div>
                <div class="stat-modmod">
                  <input
                    type='text'
                    value='{{stat.modModifier}}'
                    name="system.stats.{{key}}.modModifier"
                    class="stat-score-small"
                    data-dtype='Number'
                  />
                </div>
              </div>
            {{/each}}
          </div>
        </aside>

        {{! Main section with stats modifiers and tweaks }}
        <section class='main' style="flex: 2 1;">
          <div class="flex flexcol" style="gap:12px;">
            <div class="grid grid-col3"> <!--Stats modifiers / features --> 
              {{formGroup systemFields.baseAc value=system.baseAc localize=true}}
              {{formGroup systemFields.hitDie value=system.hitDie localize=true}}
              {{formGroup systemFields.traumaTarget value=system.traumaTarget localize=true}}
              {{formGroup systemFields.systemStrain.fields.permanent value=system.systemStrain.permanent localize=true}}
              <div class="form-group">
                <label>{{localize 'SWN.Actor.base.FIELDS.systemStrain.cyberware'}}</label>
                <input
                  type='text'
                  value='{{system.systemStrain.cyberware}}'
                  data-dtype='Number'
                  readonly
                />
              </div>
            </div> <!-- End Stats modifiers / features -->
            
            <div class="grid grid-col2"> <!-- Tweak options -->
              {{formGroup systemFields.tweak.fields.advInit value=system.tweak.advInit localize=true}}
              {{formGroup systemFields.tweak.fields.initiative.fields.mod value=system.tweak.initiative.mod localize=true}}
              {{formGroup systemFields.tweak.fields.debtDisplay value=system.tweak.debtDisplay localize=true}}
              {{formGroup systemFields.tweak.fields.balanceDisplay value=system.tweak.balanceDisplay localize=true}}
              {{formGroup systemFields.tweak.fields.owedDisplay value=system.tweak.owedDisplay localize=true}}            
              {{formGroup systemFields.tweak.fields.showCyberware value=system.tweak.showCyberware localize=true}}
              {{formGroup systemFields.tweak.fields.showPsychic value=system.tweak.showPsychic localize=true}}
              {{formGroup systemFields.tweak.fields.showArts value=system.tweak.showArts localize=true}}
              {{formGroup systemFields.tweak.fields.showSpells value=system.tweak.showSpells localize=true}}
              {{formGroup systemFields.tweak.fields.showAdept value=system.tweak.showAdept localize=true}}
              {{formGroup systemFields.tweak.fields.showMutation value=system.tweak.showMutation localize=true}}
              {{!-- {{formGroup systemFields.tweak.fields.extraHeader value=system.tweak.extraHeader localize=true}} --}}
            </div> <!-- End Tweak options -->
          </div>
        </section>
      </section>
    </div>
  </div> <!-- End Tweaks -->
</section>