{{! Gear Tab }}
<section class='tab gear sheet-body {{tab.cssClass}}' data-group='primary' data-tab='gear'>
  {{#if (eq actor.type 'character')}}
  <div class="grid grid-5col" style="column-gap:10px">
    <div class="flex items-center">
      {{formInput systemFields.credits.fields.carriedBase value=system.credits.carriedBase localize=true}}
      <label for="system.credits.carriedBase">
        <a class="credits-change text-gray-100 hover:text-green-400 transition-colors"
          title="{{localize 'swnr.sheet.credit-change'}}  {{gameSettings.currency.baseCurrencyName}}"
          data-credit-type="base" data-action="creditChange">
            <i class="fas fa-coins"></i>
          {{gameSettings.currency.baseCurrencyName}}
        </a>
      </label>
    </div>
    {{#each actor.system.credits.extraCurrencies as |currency idx|}}
      <div class="flex items-center">
        <input type="number" name="currencyValue" value="{{currency.value}}" />
        <a class="credits-change text-gray-100 hover:text-green-400 transition-colors"
          title="{{localize 'swnr.sheet.credit-change'}}  {{currency.typeName}}"
          data-credit-type="base" data-action="creditChange">
            <i class="fas fa-coins"></i>
        <label for="currencyValue">
          {{#if currency.name}}
           {{currency.name}} 
           {{#if (ne currency.type 'base')}}
             ({{currency.typeName}})
           {{/if}}
          {{else}}
           {{currency.typeName}}
          {{/if}}
          </label>

        <a class="currency-button" data-action="editCurrency" data-currency-idx="{{idx}}">
          <i class="fas fa-edit"></i>
        </a>
      </div>
    {{/each}}
    <div>
      <div class="currency-button flex flexcol items-center" data-tooltip="{{localize 'swnr.sheet.addCurrencyHint'}}">
        <a data-action="addCurrency"><i class="fas fa-money-bill-wave fa-2x"></i></a>
        {{localize 'swnr.sheet.addCurrency'}}
      </div>
    </div>
    {{!-- <div>
      {{formInput systemFields.credits.fields.extraCurrencies value=system.credits.extraCurrencies localize=true}}
      <label for="system.credits.extraCurrencies">Extra Currencies</label>
    </div> --}}
  </div>


  <div class="flex flexrow gap" style="column-gap:10%;"><!-- Encum -->

    <div class="resource-bar"><!-- The readied bar -->
      <div style="width:{{actor.system.encumbrance.ready.percentage}}%" class="ready-fill {{#if (gt actor.system.encumbrance.ready.value actor.system.encumbrance.ready.max)}}full-fill{{/if}}"></div>
        <div class="text">
          {{localize 'swnr.item.locationReadied'}}:
          {{actor.system.encumbrance.ready.value}}/{{actor.system.encumbrance.ready.max}}
        </div>
    </div>

    <div class="resource-bar"><!-- The stowed bar -->
      <div style="width:{{actor.system.encumbrance.stowed.percentage}}%" class="stowed-fill {{#if (gt actor.system.encumbrance.stowed.value actor.system.encumbrance.stowed.max)}}full-fill{{/if}}"></div>
        <div class="text">
           {{localize 'swnr.item.locationStowed'}}:
        {{actor.system.encumbrance.stowed.value}}/{{actor.system.encumbrance.stowed.max}}
       </div>
    </div>
  </div>
  {{/if}}

  <div class="flex flex-col"> <!--items -->
    {{> "systems/swnr/templates/actor/fragments/items-list.hbs" itemList=actor.itemTypes.weapon  type='weapon' name='Weapons' locations=../config/itemLocations}}
    {{> "systems/swnr/templates/actor/fragments/consumable-list.hbs" itemList=actor.system.consumables  type='item' name='Consumables/Ammo' }}
    {{> "systems/swnr/templates/actor/fragments/items-list.hbs" itemList=actor.itemTypes.armor  type='armor' name='Armor'}}
    {{> "systems/swnr/templates/actor/fragments/items-list.hbs" itemList=actor.system.gear  type='item' name='Items' }}

  </div>

</section>