<section class='tab npc sheet-body {{tab.cssClass}}' data-group='primary' data-tab='npc'>
  <div class="sheet-cols">
    <div class="flex flex-col" style="flex: 1 1;"> <!-- 1st Column -->
      <div class="resource-group">
        <b>{{localize 'swnr.sheet.stats'}} </b>
        {{formGroup systemFields.hitDice value=system.hitDice localize=true}}
        {{#if (eq gameSettings.useCWNArmor true)}}
        <div class="flex flexrow gap-4">
          <div class="flex flex-col">
            {{formGroup systemFields.baseAc value=system.baseAc localize=true}}
          </div>
          <div class="flex flex-col">
            {{formGroup systemFields.meleeAc value=system.meleeAc localize=true}}
          </div>
        </div>
        {{else}}
        {{formGroup systemFields.baseAc value=system.baseAc localize=true}}
        {{/if}}
        {{formGroup systemFields.armorType value=system.armorType localize=true}}
      </div>
      <div class="resource-group"> <!-- Combat -->
        <b>{{localize 'swnr.npc.combat'}} </b>
        <div class="flex flexrow gap-4">
          <div class="flex flex-col">
          {{formGroup systemFields.attacks.fields.number value=system.attacks.number localize=true}}
          </div>
          <div class="flex flex-col">
            {{formGroup systemFields.attacks.fields.bonusDamage value=system.attacks.bonusDamage localize=true}}
          </div>
        </div>
        <div class="flex flexrow gap-4">
          <div class="flex flex-col">
            {{formGroup systemFields.attacks.fields.shock.fields.dmg value=system.attacks.shock.dmg localize=true}}
          </div>
          <div class="flex flex-col">
            {{formGroup systemFields.attacks.fields.shock.fields.ac value=system.attacks.shock.ac localize=true}}
          </div>
        </div>
        {{#if (eq gameSettings.useCWNArmor true)}}
        <div class="flex flexrow gap-4">
          <div class="flex flex-col">
            {{formGroup systemFields.ab value=system.ab localize=true label='swnr.sheet.ranged-attack-bonus'}}
          </div>
          <div class="flex flex-col">
            {{formGroup systemFields.meleeAb value=system.meleeAb localize=true}}
          </div>
        </div>
        {{else}}
        {{formGroup systemFields.ab value=system.ab localize=true}}
        {{/if}}
        {{#if (eq gameSettings.useCWNArmor true)}}
        {{formGroup systemFields.baseSoakTotal value=system.baseSoakTotal localize=true widget=groupWidget}}
        {{!-- moved to header for now
         <div class="form-group">
          <label>{{localize 'SWN.Actor.NPC.FIELDS.soakTotal.label'}}</label>
          <div class="field flex flexrow">
            <input type="text" value="{{system.soakTotal.value}}" class="sub-field" readonly>
            <span class="nested-sep">/</span>
            <input type="text" value="{{system.soakTotal.max}}" class="sub-field" readonly>
          </div>
        </div> --}}
        {{/if}}
        {{#if (eq gameSettings.useTrauma true)}}
        {{formGroup systemFields.traumaTarget value=system.traumaTarget localize=true}}
        {{/if}}

      </div>
    </div> <!-- End 1st Column -->
    <div class="flex flex-col" style="flex: 1 1;"> <!-- 2nd Column -->
      <div class="resource-group">
        <b>{{localize 'swnr.sheet.rollables'}}</b>
        <div class="flex flexrow">
          <span class="flex: 0 1 20px;">
            <a data-action="moraleRoll" data-target='{{system.moralScore}}'>
              <i class="fa fa-dice-d6 fa-2x"></i>
            </a>
          </span>
          <span style="flex: 4 0;">{{formGroup systemFields.moralScore value=system.moralScore localize=true}}</span>
        </div>
        <div class="flex flexrow">
          <span class="flex: 0 1 20px;">
            <a data-action="roll" data-roll='2d6 + 0'
              data-label="{{localize 'swnr.npc.skill.untrained' actor=actor.name}}">
              <i class="fa fa-dice-d6 fa-2x"></i>
            </a>
          </span>
          <span style="flex: 4 0;">
            <div class="form-group">
              <label>{{localize 'swnr.npc.untrained-skill'}}</label>
              <input type="text" value="0" readonly>
            </div>
          </span>
        </div>
        <div class="flex flexrow">
          <span class="flex: 0 1 20px;">
            <a data-action="roll" data-roll='2d6 + {{system.skillBonus}}'
              data-label="{{localize 'swnr.npc.skill.trained'  actor=actor.name}}">
              <i class="fa fa-dice-d6 fa-2x"></i>
            </a>
          </span>
          <span style="flex: 4 0;">{{formGroup systemFields.skillBonus value=system.skillBonus localize=true}}</span>
        </div>
        <div class="flex flexrow">
          <span class="flex: 0 1 20px;">
            <a data-action="rollSave" data-target='{{system.saves}}'>
              <i class="fa fa-dice-d6 fa-2x"></i>
            </a>
          </span>
          <span style="flex: 4 0;">{{formGroup systemFields.saves value=system.saves localize=true}}</span>
        </div>
      </div>
      <!-- Languages Section -->
      <div class="languages-section" style="margin: 10px 0;">
        <ol class="items-list">
          <li class="items-header flexrow">
            <div class="item-name">
              {{localize 'swnr.sheet.languages'}}
            </div>
            <div class="item-controls">
              {{#if @root.editable}}
                {{#if availableLanguages.length}}
                  <a class="item-control language-toggle" title="{{localize 'swnr.sheet.addLanguage'}}" data-action="toggleLanguageAdd">
                    <i class="fas fa-plus"></i>
                  </a>
                {{/if}}
              {{/if}}
            </div>
          </li>
        </ol>

        <!-- Language Add Container (hidden by default) -->
        {{#if @root.editable}}
          <div class="language-add-container" id="language-add-section" style="display: none; padding: 8px; background-color: var(--color-form-disabled); border-radius: 3px; margin-bottom: 8px;">
            <select class="language-select" name="language-add-select">
              <option value="">{{localize 'swnr.sheet.selectLanguage'}}</option>
              {{#each availableLanguages as |language|}}
                {{#unless (includes @root.system.languages language)}}
                  <option value="{{language}}">{{language}}</option>
                {{/unless}}
              {{/each}}
            </select>
            <button type="button" class="language-add-btn" data-action="addLanguage" title="{{localize 'swnr.sheet.addLanguage'}}">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        {{/if}}

        <!-- Languages List -->
        <div class="languages-list">
          {{#each system.languages as |language index|}}
            <div class="language-item" data-lang-index="{{index}}">
              <span class="language-name">{{language}}</span>
              {{#if @root.editable}}
                <button type="button" class="language-remove" data-action="removeLanguage" data-lang-index="{{index}}" title="{{localize 'swnr.sheet.removeLanguage'}}">
                  <i class="fas fa-trash"></i>
                </button>
              {{/if}}
            </div>
          {{/each}}

          {{#unless availableLanguages.length}}
            {{#if @root.editable}}
              <div class="no-languages-warning">
                <em>{{localize 'swnr.sheet.noLanguagesConfigured'}}</em>
              </div>
            {{/if}}
          {{/unless}}
        </div>
      </div>
    </div> <!-- End 2nd Column -->
    <div class="flex flex-col" style="flex: 1 0;"> <!-- 3rd Column -->
      {{> "systems/swnr/templates/actor/fragments/compact-weapon-list.hbs" itemList=actor.itemTypes.weapon actorType=actor.type }}
      {{> "systems/swnr/templates/actor/fragments/compact-armor-list.hbs" itemList=actor.itemTypes.armor actorType=actor.type }}
      {{> "systems/swnr/templates/actor/fragments/compact-carried-list.hbs" itemList=actor.itemTypes.item actorType=actor.type }}
      {{> "systems/swnr/templates/actor/fragments/compact-abilities-list.hbs" itemList=abilities actorType=actor.type }}
    </div> <!-- End 3rd Column -->

  </div>
</section>