<section class='tab npc sheet-body {{tab.cssClass}}' data-group='primary' data-tab='npc'>
  <div class="sheet-cols">
    <div class="flex flex-col" style="flex: 1 1;"> <!-- 1st Column -->
      <div class="resource-group">
        <b>{{localize 'swnr.sheet.stats'}} </b>
        {{formGroup systemFields.hitDice value=system.hitDice localize=true}}
        {{formGroup systemFields.baseAc value=system.baseAc localize=true}}
        {{formGroup systemFields.meleeAc value=system.baseAc localize=true}}
        {{formGroup systemFields.armorType value=system.armorType localize=true}}
      </div>
      <div class="resource-group">
        <b>{{localize 'swnr.npc.combat'}} </b>
        {{formGroup systemFields.attacks.fields.number value=system.attacks.number localize=true}}
        {{#if (eq gameSettings.useCWNArmor true)}}
        {{formGroup systemFields.ab value=system.ab localize=true label='swnr.sheet.ranged-attack-bonus'}}
        {{formGroup systemFields.meleeAb value=system.meleeAb localize=true}}
        {{else}}
        {{formGroup systemFields.ab value=system.ab localize=true}}
        {{/if}}
        {{formGroup systemFields.attacks.fields.bonusDamage value=system.attacks.bonusDamage localize=true}}
        {{#if (eq gameSettings.useCWNArmor true)}}
        {{formGroup systemFields.baseSoakTotal value=system.baseSoakTotal localize=true widget=groupWidget}}
        {{!-- moved to header for now
         <div class="form-group">
          <label>{{localize 'SWN.Actor.NPC.FIELDS.soakTotal.label'}}</label>
          <div class="field flex flexrow">
            <input type="text" value="{{system.soakTotal.value}}" class="sub-field" readonly>
            <span class="nested-sep">/</span>
            <input type="text" value="{{system.soakTotal.max}}" class="sub-field" readonly>
          </div>
        </div> --}}
        {{/if}}
        {{#if (eq gameSettings.useTrauma true)}}
        {{formGroup systemFields.traumaTarget value=system.traumaTarget localize=true}}
        {{/if}}

      </div>
    </div> <!-- End 1st Column -->
    <div class="flex flex-col" style="flex: 1 1;"> <!-- 2nd Column -->
      <div class="resource-group">
        <b>{{localize 'swnr.sheet.rollables'}}</b>
        <div class="flex flexrow">
          <span class="flex: 0 1 20px;">
            <a data-action="moraleRoll" data-target='{{system.moralScore}}'>
              <i class="fa fa-dice-d6 fa-2x"></i>
            </a>
          </span>
          <span style="flex: 4 0;">{{formGroup systemFields.moralScore value=system.moralScore localize=true}}</span>
        </div>
        <div class="flex flexrow">
          <span class="flex: 0 1 20px;">
            <a data-action="roll" data-roll='2d6 + 0'
              data-label="{{localize 'swnr.npc.skill.untrained' actor=actor.name}}">
              <i class="fa fa-dice-d6 fa-2x"></i>
            </a>
          </span>
          <span style="flex: 4 0;">
            <div class="form-group">
              <label>{{localize 'swnr.npc.untrained-skill'}}</label>
              <input type="text" value="0" readonly>
            </div>
          </span>
        </div>
        <div class="flex flexrow">
          <span class="flex: 0 1 20px;">
            <a data-action="roll" data-roll='2d6 + {{system.skillBonus}}'
              data-label="{{localize 'swnr.npc.skill.trained'  actor=actor.name}}">
              <i class="fa fa-dice-d6 fa-2x"></i>
            </a>
          </span>
          <span style="flex: 4 0;">{{formGroup systemFields.skillBonus value=system.skillBonus localize=true}}</span>
        </div>
        <div class="flex flexrow">
          <span class="flex: 0 1 20px;">
            <a data-action="rollSave" data-target='{{system.saves}}'>
              <i class="fa fa-dice-d6 fa-2x"></i>
            </a>
          </span>
          <span style="flex: 4 0;">{{formGroup systemFields.saves value=system.saves localize=true}}</span>
        </div>
      </div>
      <div class="resource-group">
        <b>{{localize 'swnr.effort.title'}}</b>
          <div class="resource-bar"><!-- The character effort bar -->
          <div style="width:{{system.effort.percentage}}%" class="effort-fill"></div>
            <div class="text">
              {{localize 'swnr.effort.title'}}
                <input
                  type='text'
                  value='{{system.effort.value}}'
                  readonly
                  data-dtype='Number'
                  class='nested-field short-field align-right current-value'
                />
              <p>/</p>
                <input
                  type='text'
                  value='{{system.effort.max}}'
                  readonly
                  data-dtype='Number'
                  class='nested-field short-field'
                />
            </div>
        </div><!-- End of the character effort bar -->
        <div class="grid grid-2col">
          {{ formGroup systemFields.effort.fields.bonus value=system.effort.bonus localize=true }}
          {{ formGroup systemFields.effort.fields.current value=system.effort.current localize=true }}
          {{ formGroup systemFields.effort.fields.scene value=system.effort.scene localize=true }}
          {{ formGroup systemFields.effort.fields.day value=system.effort.day localize=true }}
        </div>
      </div>
    </div> <!-- End 2nd Column -->
    <div class="flex flex-col" style="flex: 1 0;"> <!-- 3rd Column -->
      {{> "systems/swnr/templates/actor/fragments/compact-weapon-list.hbs" itemList=actor.itemTypes.weapon actorType=actor.type }}
      {{> "systems/swnr/templates/actor/fragments/compact-armor-list.hbs" itemList=actor.itemTypes.armor actorType=actor.type }}
      TODO powers/abilities
    </div> <!-- End 3rd Column -->

  </div>
</section>