<section class='tab skills flexcol {{tab.cssClass}}' data-group='primary' data-tab='skills'>

  {{#if (ne actor.itemTypes.skill.length 0)}}
  <div class="flex flexrow">
    <ol class='items-list'>
    {{#each actor.itemTypes.skill as |item id|}}
    {{#if (halfway @root.actor.itemTypes.skill @index)}}          
      </ol>
      <ol class="items-list"> 
    {{/if}}
    {{> "systems/swnr/templates/actor/fragments/skill.hbs" item=item type=actor.type}} 
    {{/each}}
    </ol>
  </div>
  {{!-- <div class="flex flexrow gap" style="column-gap:10%">
    <div class="flex flex-col items-center">
      {{formInput systemFields.unspentSkillPoints value=system.unspentSkillPoints localize=true}}
      <label>{{localize 'swnr.sheet.unspent-skill'}}</label>
    </div>
    <div class="flex flex-col items-center">
      {{formInput systemFields.unspentPsySkillPoints value=system.unspentPsySkillPoints localize=true}}
      <label>{{localize 'swnr.sheet.unspent-psy-skill'}}</label>
    </div>
    <div class="flex flex-col items-center">
      <a class="item-control item-create"
        title="{{localize 'swnr.sheet.add-item'}}" 
        data-action='createDoc'
        data-document-class='Item'
        data-type='skill'
        data-item-name="Skill"
      >
        <i class="fas fa-plus"></i>
        <label>{{localize 'swnr.sheet.add-skill'}}</label>
      </a>

    </div>

  </div> --}}

  {{else}}
  <button class="skill-load-button" type="button" data-action="loadSkills">
    {{localize 'swnr.sheet.loadSkills'}}
  </button>
  {{/if}}
</section>