<div class="chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{weapon._id}}">
  <h3 title="{{ weapon.system.description }}">{{ weapon.name }}</h3>

  <span title="{{ diceTooltip.hitExplain }}" class="roll roll-hit">{{{ diceTooltip.hit }}}</span>
  <span>{{localize 'swnr.weapon.damage'}}:</span>
  <span title="{{ diceTooltip.damageExplain }}" class="roll roll-damage">{{{ diceTooltip.damage }}}</span>
  {{#if (ne shock_content null)}}
   {{ shock_content }}
   <span class="roll roll-shock roll-damage">{{{ shock_roll }}}</span>
  {{/if}}
  {{#if (ne weapon.system.ammo.type 'none')}}
    {{#if (ne weapon.system.ammo.type 'infinite')}}
      <div class="ammo-{{ ammoRatio }}">
        {{localize 'swnr.weapon.ammo'}}: {{ weapon.system.ammo.value }}/{{
        weapon.system.ammo.max }}
      </div>
    {{/if}}
  {{/if}}
  {{#if weapon.system.qualities}}
  <div>{{localize 'swnr.sheet.ship.qualities'}}: {{ weapon.system.qualities }}</div>
  {{/if}}

  {{#if traumaRollRender}}
    <span>{{localize 'swnr.weapon.trauma.label'}}:</span>
    {{#if traumaRollRender}}
    <span class="roll">
      {{{traumaRollRender}}}
    </span>
    {{/if}}

    {{#if traumaDamage}}
      <span>{{localize 'swnr.weapon.trauma.damage'}}:</span>
      <span class="roll roll-damage">
        {{{traumaDamage}}}
      </span>
    {{/if}}
  {{/if}}

  {{#if weapon.system.save}}
  <div class="card-buttons">
      <button data-action="save" data-save="{{weapon.system.save}}">
          Save {{weapon.system.save}}
      </button>
  </div>
  {{/if}}
</div>
