<div class="chat-card">
  <h3 title="{{ power.system.description }}">{{ power.name }}</h3>

  <div class="chat-desc">
    {{#if (wouldTrim power.system.description 200)}}
      <span class="hiddenShort">
        {{{trim power.system.description 200}}}
        <div class="border border-gray-700 placeholder-blue-800 pt-0">
          <button class="longShowDesc">Show Long Desc.</button>
        </div>
      </span>
      <div class="border border-gray-700 placeholder-blue-800 pt-0">
        <span style="display:none" class="hiddenLong">
        {{{ power.system.description }}}
        <button class="longHideDesc">Hide Long Desc.</button>
        </span>
      </div>
    {{else}}
      <span>
        {{{power.system.description }}}
      </span>
    {{/if}}
  </div>

  {{#if power.system.range}}
      <div >
        {{localize 'swnr.sheet.powers.range'}}: {{ power.system.range }}
      </div>
  {{/if}}

  {{#if power.system.duration}}
      <div >
        {{localize 'swnr.sheet.powers.duration'}}: {{ power.system.duration }}
      </div>
  {{/if}}

  {{#if power.system.roll}}
    <span>{{localize 'swnr.sheet.powers.roll'}}:</span>
    <span class="roll roll-damage">{{{ powerRoll }}}</span>
  {{/if}}

  {{#if power.system.save}}
  <div class="card-buttons">
      <button data-action="save" data-save="{{power.system.save}}">
          Save {{power.system.save}}
      </button>
  </div>
  {{/if}}

  {{#if power.system.skill}}
  <div class="card-buttons">
      <button data-action="skill" data-skill="{{power.system.skill}}">
          {{power.system.skill}}
      </button>
  </div>
  {{/if}}


  {{! Resource spending button for unified power system }}
  {{#if (or power.system.resourceCost power.system.strainCost)}}
  <div class="card-buttons">
      <button data-action="use-power" data-power-id="{{power.id}}" data-actor-id="{{actor.id}}">
          Spend Resources
          {{#if power.system.resourceCost}}
            ({{power.system.resourceCost}} {{power.system.resourceName}}{{#if power.system.subResource}}:{{power.system.subResource}}{{/if}})
          {{/if}}
          {{#if power.system.strainCost}}
            {{#if power.system.resourceCost}}+{{/if}}({{power.system.strainCost}} SS)
          {{/if}}
      </button>
  </div>
  {{/if}}
</div>
