<div>
  <h4>Spike Drill</h4>
  <span title="{{ skillRollStr }}">{{{ skillRoll }}}</span>
  {{#if pass}}
    <span><b>Spike drill successful.</b></span><br>
  {{else}}
    <span><b>Spike drill failed!</b></span><br>
   <span>  {{{ failRoll}}}</span>
   {{ failText}}<br>
  {{/if}}
   <i>Travel Days: {{ travelDays}}</i>
</div>
