<form class="currency-add-dialog">

  <div class="form-group">
    <label>Currency Type:</label>
    <div class="form-fields">
      <select name="currencyType">
        <option value="base" {{#if (eq currency.type 'base')}}selected{{/if}}>{{settings.currency.baseCurrencyName}}</option>
        {{#if settings.currency.customCurrencyName0}}
        <option value="0" {{#if (eq currency.type '0')}}selected{{/if}}>{{settings.currency.customCurrencyName0}}</option>
        {{/if}}
        {{#if settings.currency.customCurrencyName1}}
        <option value="1" {{#if (eq currency.type '1')}}selected{{/if}}>{{settings.currency.customCurrencyName1}}</option>
        {{/if}}
        {{#if settings.currency.customCurrencyName2}}
        <option value="2" {{#if (eq currency.type '2')}}selected{{/if}}>{{settings.currency.customCurrencyName2}}</option>
        {{/if}}
        {{#if settings.currency.customCurrencyName3}}
        <option value="3" {{#if (eq currency.type '3')}}selected{{/if}}>{{settings.currency.customCurrencyName3}}</option>
        {{/if}}
        {{#if settings.currency.customCurrencyName4}}
        <option value="4" {{#if (eq currency.type '4')}}selected{{/if}}>{{settings.currency.customCurrencyName4}}</option>
        {{/if}}
      </select>
    </div>
    <p class="hint">Currency type to add. Options set by GM in settings. Does not convert on change.</p>
  </div>
  <div class="form-group">
    <label>Name/Location:</label>
    <input type="text" name="currencyName" placeholder="Enter a name or location" value="{{currency.name}}" />
    <p class="hint">A custom name for the currency. For example, "Bank", "Debt", etc.</p>

  </div>
  <div class="form-group">
    <label>Currency Value:</label>
    <input type="number" name="currencyValue" 
      {{#if currency.value}}
      value="{{currency.value}}" 
      {{else}}
      value="0"
      {{/if}}
    />
    <p class="hint">The value/count of the currency.</p>
  </div>
  <div class="form-group">
    <label>Carried:</label>
    <input type="checkbox" name="carried" {{#if currency.carried}}checked{{/if}} />
    <p class="hint">Check if the currency is carried by the character, may take up stowed slots.</p>
  </div>
</form>
