<form class="flex">
    <label for="tagName">{{localize "swnr.sheet.faction.editTagDialog.tagName"}}</label>
    <input type="text" name="tagName" id="tagName" value="{{name}}">
    <label for="tagDesc">{{localize "swnr.sheet.faction.editTagDialog.tagDesc"}}</label>
    <textArea name="tagDesc" id="tagDesc">{{desc}}</textArea>
    <label for="tagEffect">{{localize "swnr.sheet.faction.editTagDialog.tagEffect"}}</label>
    <textArea name="tagEffect" id="tagEffect">{{effect}}</textArea>
</form>