<form class="">
  <div>
    {{! dice }}
    <label for="">{{localize 'swnr.chat.dicepool'}}: </label>
    <select
      name="dicepool"
      {{#if (eq skill.pool 'ask')}}
        class=""
      {{else}}
        class=""
      {{/if}}
    >
      {{selectOptions pool selected=(transformDicePool skill.system.pool)}}
    </select>
  </div>
  <div>
    {{! mod }}
    <label for="modifier">{{localize 'swnr.chat.modifier'}}: </label>
    <input name="modifier" type="number" step="1" value="{{ modifier }}" class=""/>
  </div>
  <div>
    {{! stat}}
    <label for="stat">{{localize 'swnr.sheet.stats'}}: </label>
    <select
      name="stat"
      {{#if (eq skill.system.defaultStat 'ask')}}
        class=""
      {{else}}
        class=""
      {{/if}}
    >
      {{selectOptions (getStatChoices stats) selected=skill.system.defaultStat}}
    </select>
  </div>
  <div class="flex flexrow">
    <div class="flex flexrow">
      <label for="remember">{{localize 'swnr.weapon.remember'}}: </label>
      <input type="checkbox" name="remember" id="remember">
    </div>
  </div> 
</form>
