<form class="flex">
  <div class="flex flexrow gap-2">
    {{#if isChar}}
    <div class="flex flex-col">
      <label for="skill">{{localize 'swnr.sheet.skill'}}: </label>
      <select name="skill">
        {{#each skills }}
        <option value="{{this.id}}">{{this.name}} {{this.system.rank}}</option>
        {{/each}}
      </select>
    </div>
    
    <div class="flex flex-col">
      {{! stat}}
      <label for="stat">{{localize 'swnr.sheet.stats'}}: </label>
      <select name="stat">
        {{selectOptions (getStatChoices actor.system.stats)}}
      </select>
    </div>
    {{else}}
    <div class="flex flex-col">
      <label for="useNPCSkillBonus">{{localize 'swnr.npc.trained-skill'}}: </label>
      <input type="checkbox" name="useNPCSkillBonus" id="useNPCSkillBonus">
    </div>
    {{/if}}
  </div>
  
  <div class="flex flexrow gap-2">
      <div class="flex flex-col">
      <label for="">{{localize 'swnr.chat.dicepool'}}: </label>
      <select name="dicepool">
        {{selectOptions pool selected=(transformDicePool skill.system.pool)}}
      </select>
    </div>

    <div class="flex flex-col">
      <label for="modifier">{{localize 'swnr.chat.modifier'}}: </label>
      <input name="modifier" type="number" step="1" value="0" />
    </div>
  </div>
</form>