<form class="flex">
  <input type="hidden" name="actorId" value="{{actor._id}}">
  <div class="flex flex-col">
    <div class="flex flexrow p-2 gap-2">
      {{#if (and weapon.ammo.burst (ne 'none' weapon.ammo.type)) }}
      <div class="flex flex-col ">
        <label for="burstFire">{{localize 'swnr.weapon.burst'}}: </label>
        <input type="checkbox" name="burstFire" id="burstFire" {{checked burstFireHasAmmo}}>
      </div>
      {{/if}}
      {{#if (eq actor.type 'character')}}
      <div class="flex flex-col">
        <label for="skill">{{localize 'swnr.sheet.skill'}}: </label>
        <select name="skill"  required > 
          {{selectOptions (getSkillChoices skills true) selected=weapon.skill localize=true}}
        </select>
      </div>
      {{else}}
      {{!-- <div class="flex flex-col">
        <label for="skilled">{{localize 'swnr.npc.skilled-with-weapon'}}:</label>
        <input type="checkbox" name="skilled" id="skilled" />
      </div> --}}
      {{/if}}
      <div class="flex flex-col">
        <label for="modifier">{{localize 'swnr.chat.modifier'}}: </label>
        <input name="modifier" type="number" step="1" value="0" />
      </div>
    </div>
    <div class="flex flexrow">
      
      {{#if (eq 'ask' statName)}}
        <div class="flex flex-col">
          <label for="stat">{{localize 'swnr.sheet.stats'}}: </label>
          <select name="stat">
          {{#each stats as |box name |}}
          <option value="{{name}}">
            {{localize (concat "swnr.stat.long." name)}}: 
            {{numberFormat box.mod decimals=0 sign=true}}
          </option>
          {{/each}}
          </select>
        </div>
      {{else}}
        <input type="hidden" name="statName" value="{{statName}}">
      {{/if}}
      {{#if (eq actor.type 'character')}}
        <div class="flex flexrow">
            {{!-- <label for="remember"> --}}
            {{localize 'swnr.weapon.remember'}}: 
            {{!-- </label> --}}
            <input type="checkbox" name="remember" id="remember">
        </div> 
      {{/if}}
    </div>  
  </div>
</form>
