{{! Description Tab }}
<section
  class='tab sheet-body {{tab.cssClass}}'
  data-group='primary'
  data-tab='description'
>
<!-- check if GM --> 
{{#if (or isGM system.showGMNotes)}}
<div class="flex flex-col">
  <div class="grid grid-cols-2">
    <span><h4 style="margin-bottom: 2px;">GM Notes</h4></span>
    {{#if isGM}}
    <span>GM notes visible to players: 
      {{formInput systemFields.showGMNotes value=system.showGMNotes}}
    </span>
    {{/if}}
  </div>
  <div class="grid-span-2">
    <textarea name="system.gmNotes" rows="4" cols="40" {{#unless isGM}}readonly{{/unless}}>{{system.gmNotes}}</textarea>
  </div>
</div>
{{/if}}


<h4 style="margin: 2px;">Description</h4>
  {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
  <div class="editor">
    {{#if editable}} 
      <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
        {{{enrichedDescription}}}
      </prose-mirror>
  </div>
  <div class="editor">
      <div class="editor-content">
      {{else}} {{{enrichedDescription}}}
      {{/if}}
    </div>
  </div>



</section>