<header class='sheet-header'>
  <div class="flexrow">
    <div class="item-img"><!-- Profile Image -->
      <img class='item-img' src='{{item.img}}' data-edit='img' data-action='onEditImage' title='{{item.name}}' />
    </div>
    <div class='header-fields'>
      <div class='document-name'>
        <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
      </div>
      <div class='grid grid-3col'>
        <div class='resource grid-span-3 thin-bar' style="text-align:right;">
          <label class='resource-label'>{{localize 'swnr.item.favorite'}}</label>
          <input type="checkbox" class="small-checkbox" name="system.favorite" {{#if
            system.favorite}}checked{{/if}} />
        </div>
        <div class="resource">
          {{formGroup systemFields.cost value=system.cost localize=true}}
        </div>
        <div class="resource">
          <div class="form-group">
            <label>{{localize 'SWN.Item.Cyberware.FIELDS.strain.value.label'}}</label>
            <div class="form-fields">
              <input disabled type="number" name="system.strain.value" value="{{system.strain.value}}" min="0" step=".05">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--flexrow-->
</header>